## AUTODISC PACKAGE

# conda
conda create -n autodisc python=3.8
conda activate autodisc
conda install -c anaconda  pip=21.0.1
conda install pytorch torchvision cudatoolkit=10.1.243 -c pytorch
conda install -c conda-forge deap
conda install -c conda-forge odfpy #NOT ON JEANZAY
conda install -c conda-forge addict
conda install -c conda-forge imageio
conda install -c conda-forge matplotlib
pip install tqdm

## TO ADD FOR PytorchNeat
conda install -c conda-forge python-graphviz  #NOT ON JEANZAY
pip install neat-python==0.92

## TO ADD FOR Image Representation
conda install -c conda-forge tensorboard #NOT ON JEANZAY
conda install -c conda-forge tensorboardx
conda install -c conda-forge moviepy

### MinkowskiEngine (can do without for now)
conda install -c anaconda openblas-devel
sudo apt install g++-7
export CXX=/usr/bin/g++-7 #specify the gcc path. Make sure that $CXX --version exists and >= 7.5.
export CUDA_HOME=/usr/local/cuda # specify the cuda home. Make sure `$CUDA_HOME/bin/nvcc --version` is matching with the conda env's cuda version
pip install -U git+https://github.com/NVIDIA/MinkowskiEngine -v --no-deps --install-option="--blas_include_dirs=${CONDA_PREFIX}/include" --install-option="--blas=openblas"

### open3D (install headless on jeanzay)
conda install -c anaconda scikit-learn #NOT ON JEANZAY
conda install -c anaconda pyyaml #NOT ON JEANZAY
conda install -c anaconda pandas #NOT ON JEANZAY
conda install -c conda-forge plyfile #NOT ON JEANZAY
conda install -c open3d-admin open3d #NOT ON JEANZAY

## TO ADD FOR EVOCRAFT SEARCH
conda install -c anaconda grpcio #NOT ON JEANZAY
conda install -c conda-forge google-api-python-client #NOT ON JEANZAY
pip install NBT  #NOT ON JEANZAY
pip install pygifsicle #NOT ON JEANZAY #/!\ must also do sudo apt-get install gifsicle on Linux

## TO ADD FOR SIMCELLS SEARCH
conda install -c anaconda h5py #NOT ON JEANZAY
