pip=21.0.1
pytorch
torchvision
cudatoolkit=10.1.243
deap
addict
imageio
matplotlib
tqdm
python-graphviz
neat-python==0.92
tensorboard
tensorboardx
moviepy
grpcio
google-api-python-client
pygifsicle
h5py
scikit-learn
NBT
odfpy
